body {
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
	background-color: #111111;
}
body #page {
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: auto;
}
a {
	text-decoration: none;
	outline: none;
}
a:active {
	background: none;
}
img {
	border: none;
}

/*----------------------------------------loading-screen--------------------------------------*/
.loader-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #111111;
	display:none;
	justify-content: center;
	align-items: center;
  }
  .loader {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: relative;
	border: 4px solid #Fff;
	animation: loader 2s infinite ease;
  }
  .loader-inner {
	vertical-align: top;
	display: inline-block;
	width: 100%;
	background-color: #fff;
	animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
	0% { transform: rotate(0deg);}
	25% { transform: rotate(180deg);}
	50% { transform: rotate(180deg);}
	75% { transform: rotate(360deg);}
	100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
	0% { height: 0%;}
	25% { height: 0%;}
	50% { height: 100%;}
	75% { height: 100%;}
	100% { height: 0%;}
  }
/*----------------------------------------header-styles---------------------------------------*/
#header {
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	background-image: linear-gradient(to right, #685d79, #615d7a, #595c7b, #505c7b, #475c7a);
}
#header div {
	  margin: 0 auto;
    max-width: 940px;
    min-height: 140px;
    padding: 0 10px;
}
#header div a.logo {
	display: block;
	float: left;
	height: 106px;
	align-self: center;
	margin: 20px 0 0 -80px;
   padding: 0;
   width: 320px;
}
#header div a.logo img {
	display: block;
	margin: 0;
	padding: 0;
	max-height: 110px;
	width: auto;
}
#header div ul {
	display: block;
    float: right;
    list-style: none outside none;
    margin: 0 auto;
    max-width: 501px;
    padding: 60px 0 20px;
    text-align: center;
}
#header div ul li {
	display: inline-block;
	*float: left; /* Needed for IE7 and old versions */
	margin: 0 0 0 37px;
	padding: 0;
	width: auto;
}
#header div ul li a {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 14px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: auto;
}
#header div ul li.selected a, #header div ul li.selected a:hover {
	color: #dd0505;
}
#header div ul li a:hover {
	color: #c9cc00;
	transition: all .5s;
}
#header div ul li ul {
	display: none;
}
#header span#mobile-navigation, #header span#mobile-submenu, #header div ul li ul {
	display: none;
}
/*----------------------------------------body-home-styles---------------------------------------*/
#body {	
  background-image: radial-gradient(circle, #fcbb6d, #f7a772, #ed9577, #de867d, #ca7981, #ba7286, #a86c88, #956788, #826589, #6d6287, #595f82, #475c7a);
	background-position: center;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
}
#body.home div {
	background: none;
	margin: 0;
	max-width: none;
	padding: 0 0 54px;
	width: 100%;
}
#body.home div.header div {
	background: none;
	margin: 0 auto;
	max-width: 960px;
	padding: 40px 0 0;
	z-index: 1;
	position: relative;
}
#body.home div.header div h1 {
	background: none;
	color: #000000;
	display: block;
	font-family: 'Bebas Neue', cursive;
	font-size: 120px;
	font-weight: normal;
	line-height: 96px;
	margin: 0 auto 20px;
	padding: 0;
	text-align: center;
	text-transform: none;
	width: 89.5833%;
	/*! text-shadow: black 2px 2px 15px; */
}
#body.home div.header div h2 {
	background: none;
	color: #000000;
	display: block;
	font-family: 'Bebas Neue', cursive;
	font-size: 40px;
	font-weight: normal;
	line-height: 60px;
	margin: 0 auto 32px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 89.5833%;
}
#body.home div.header div span {
	display: block;
	margin: 0 auto 52px;
	max-width: 350px;
	overflow: hidden;
	padding: 0;
	width: 37.4583%;
}
#body.home div.header div span a.email {
	border: 5px solid #000000;
	color: #000000;
	display: block;
	float: left;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	height: 47px;
	line-height: 47px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 63.142857142857%;
}
#body.home div.header div span a.signup {
	border: 5px solid #000000;
	border-left: none;
	color: #000000;
	display: block;
	float: left;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	height: 47px;
	line-height: 47px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 32.571428571429%;
}
#body.home div.header div img {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 97.9167%;
}
#body.home div.body {
	
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
	z-index: 0;
}
#body.home div.body div {
	background: none;
	margin: 0 auto;
	max-width: 960px;
	padding: 54px 0 86px;
}
#body.home div.body div h1 {
	background: url(../images/bg-border1.gif) no-repeat center bottom;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: normal;
	line-height: 40px;
	margin: 0;
	padding: 0 0 50px;
	text-align: center;
	text-transform: uppercase;
}
#body.home div.body div p {
	background: url(../images/bg-border1.gif) no-repeat center bottom;
	color: #FFFFFF;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 0.05em;
	line-height: 48px;
	margin: 12px auto 0;
	padding: 0 0 12px;
	text-align: center;
	width: 63.6458%;
}
#body.home div.body div p a {
	color: #ffffff;
	font-family: Arial;
	font-size: 25px;
	font-weight: normal;
	line-height: 48px;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}
#body.home div.body div p a:hover {
	color: #fc416f;
}
#body.home div.body div a.more {
	border: 5px solid #FFFFFF;
	border-radius: 10px;
	color: #FFFFFF;
	display: block;
	font-family: 'Arial Black';
	font-size: 20px;
	font-weight: normal;
	height: 47px;
	line-height: 47px;
	margin: 30px auto 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 230px;
}
#body.home div.body div a.more:hover {
	background-color: #ffffff;
	color: #d30000;
	transition: all .5s;
}
/*----------------------------------------body-styles---------------------------------------*/
#body div {
	background: url(../images/bg-transparent2.png) repeat;
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 58px 0 4px;
}
#body.running div {
	padding: 58px 0 161px;
}
#body div h1 {
	background: url(../images/bg-border2.gif) no-repeat center bottom;
	color: #FC416F;
	font-family: 'Arial Black';
	font-size: 40px;
	font-weight: normal;
	line-height: 40px;
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	text-transform: uppercase;
}
#body div img {
	display: block;
	margin: 1px auto 47px;
	padding: 0;
	width: auto;
}
#body.runningsinglepost div img {
	display: block;
	margin: 68px auto 73px;
	padding: 0;
	width: auto;
}
#body.runningsinglepost div h3 {
	padding: 17px 0 0;
}
#body.runningsinglepost div h3 span {
	padding: 0 0 12px;
}
#body.runningsinglepost div p {
	margin: 0 auto 10px;
}
#body div p {
	color: #FFFFFF;
	display: block;
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0.01em;
	line-height: 48px;
	margin: 0 auto 37px;
	padding: 0;
	text-align: center;
	width: 765px;
}
#body div p span {
	color: #FFFFFF;
	display: block;
	font-family: Arial;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 0.03em;
	line-height: 48px;
	padding: 39px 0;
}
#body div p span a {
	color: #FFFFFF;
	font-family: Arial;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	line-height: 48px;
}
#body div p a {
	color: #ffffff;
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	line-height: 48px;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}
#body div p a:hover {
	color: #fc416f;
}
#body div h2 {
	color: #FFFFFF;
	font-family: arial;
	font-size: 20px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 0 15px;
	padding: 0;
	text-align: center;
	text-transform: none;
}

#body div h3 {
	background: url(../images/bg-border1.gif) no-repeat center top;
	color: #FFFFFF;
	display: block;
	font-family: Arial;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 0.02em;
	line-height: 48px;
	margin: 0 auto 15px;
	padding: 18px 0 0;
	text-align: center;
	width: 611px;
}
#body div h3 span {
	background: url(../images/bg-border1.gif) no-repeat center bottom;
	display: block;
	margin: 0;
	padding: 0 0 11px;
	width: auto;
}
#body.running div p {
	margin: 0 auto 48px;
}
#body div ul {
	display: inline-block;
	list-style: none outside none;
	margin: 0;
	max-width: 780px;
	padding: 72px 90px 49px;
}
#body div ul li:first-child {
	border: none;
	padding: 0 0 0 0;
}
#body div ul li {
	border-top: 2px solid #363636;
	display: block;
	margin: 0;
	overflow: hidden;
	padding: 40px 0 0;
	width: auto;
}
#body div ul li img {
	display: block;
	float: left;
	height: auto;
	max-width: 230px;
	margin: 0 28px 0 0;
	padding: 0;
	width: auto;
}
#body div ul li div {
	background: none;
	float: left;
	margin: 0;
	max-width: none;
	overflow: hidden;
	padding: 6px 0 0;
	width: 522px;
}
#body div ul li div h1 {
	background: none;
	color: #ffffff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 32px;
	font-weight: bold;
	font-style: italic;
	line-height: 30px;
	margin: 0 0 16px;
	padding: 0;
	text-align: left;
	text-transform: uppercase;
	width: auto;
}
#body div ul li div p {
	color: #FFFFFF;
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0.01em;
	line-height: 28px;
	margin: 0 0 6px;
	padding: 0;
	text-align: left;
	width: auto;
}
#body div ul li div p a {
	color: #ffffff;
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	line-height: 48px;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}
#body div ul li div p a:hover {
	color: #dd0505;
}
#body div ul li div a.more {
	border: 2px solid #FFFFFF;
	border-radius: 6px;
	color: #FFFFFF;
	display: block;
	float: left;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	height: 34px;
	line-height: 34px;
	margin: 0 0 40px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 136px;
}
#body div ul li div a.more:hover {
	background-image: linear-gradient(to bottom right, #dd0505, #d19833);
	border: none;
	height: 38px;
	line-height: 38px;
	width: 140px;
	font-weight: bold;
}
#body.contact div img {
	display: block;
	margin: 70px auto 37px;
	padding: 0;
	width: auto;
}
#body.contact div h2 {
	font-weight: bold;
	margin: 0 auto 18px;
	text-transform: uppercase;
}
#body.contact div p, #body.contact div a {
	color: #FFFFFF;
	display: block;
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0.01em;
	line-height: 18px;
	margin: 0 auto 22px;
	padding: 0;
	text-align: center;
	width: 355px;
}
#body.contact div p a {
	color: #FFFFFF;
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	line-height: 48px;
	margin: 0 auto 37px;
	padding: 0;
	text-decoration: underline;
}
#body.contact div p a:hover {
	color: #fc416f;
}
#body.contact div h4 {
	background: url(../images/bg-border1.gif) no-repeat center bottom;
	color: #FFFFFF;
	font-family: 'Arial Black';
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	margin: 0;
	padding: 14px 0 29px;
	text-align: center;
	text-transform: uppercase;
}
#body.contact div form {
	display: block;
	margin: 0 auto;
	overflow: hidden;
	padding: 36px 0 0;
	width: 503px;
}
#body.contact div form input {
	background: none;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	display: block;
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	height: 39px;
	line-height: 43px;
	margin: 0 0 17px;
	padding: 0 4px;
	text-align: center;
	text-transform: uppercase;
	width: 491px;
}
#body.contact div form textarea {
	background: none;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	display: block;
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	height: 87px;
	line-height: 24px;
	margin: 0 0 22px;
	overflow: auto;
	padding: 7px 4px 0;
	resize: none;
	text-align: center;
	text-transform: uppercase;
	width: 491px;
}
#body.contact div form input#submit {
	background: none;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	height: 43px;
	line-height: 43px;
	margin: 0 auto 16px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 143px;
}
#body.contact div form input#submit:hover {
	background-color: #fb4141;
	border: none;
	height: 43px;
	width: 143px;
}
#body.team div table{
	width: 100%;
	text-align: center;
	padding: 0 10px;
}
#body.team div table td{
	width: 50%;
}
#body.team div table tr td a{
	text-decoration: none;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	font-size: 36px;
	
}
#body.team div table tr td a h6{
	text-decoration: none;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	font-weight: normal;
	margin: 5px auto;
	
}
#body.team div table tr td a img{
	max-width: 250px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}
#body.team div table tr td a:hover img{
	max-width: 230px;
	height: auto;
	transition: all .25s;
}
#body.rjpage div div
{
	background: none;
}
#body.rjpage div div img.slides
{
	max-width: 35%;
	display: none;
}
#body.rjpage div div button.slidecontrol
{
	height: 50px;
	width: 50px;
	display: inline-block;
	outline: none;
	background: #ff9430;
	border-radius: 20%;
	border: 1px;
}
#body.rjpage div div button.slidecontrol:hover
{
	background: #9c5c27;
	transition: all .5s;
}

/*-----------------home-page Play Button--------------------------------------*/
body div#page div.home div.header div#playbutton input.playradio+.label
{
	margin-left: auto;
	margin-right: auto;
}
body div#page div.home div.header div#playbutton input.playradio+.label img.play
{
	max-height: 200px;
	width: auto;
	border: 1px transparent solid;
	border-radius: 40%;
}
body div#page div.home div.header div#playbutton input.playradio+.label img.play:hover
{
	border: 3px #c9cc00 dashed;
	border-radius: 50%;
	transition: all .5s;
}
body div#page div.home div.header div#playbutton input.playradio:checked+.label img.play
{
	display: none;
	transition: all .5s;
}
body div#page div.home div.header div#playbutton input.pauseradio+.label
{
	margin-left: auto;
	margin-right: auto;
}
body div#page div.home div.header div#playbutton input.pauseradio+.label img.pause
{
	max-height: 250px;
	width: auto;
	border: 3px transparent solid;
	border-radius: 40%;
}
body div#page div.home div.header div#playbutton input.pauseradio+.label img.pause:hover
{
	border: 3px #c9cc00 dashed;
	border-radius: 50%;
	transition: all .5s;
}
body div#page div.home div.header div#playbutton input.pauseradio:checked+.label img.pause
{
	display: none;
	transition: all .5s;
}
/*-----------------------------Equalizer-styles-----------------------------------------------*/
@media only screen and (min-width: 568px){
body div#page div.home div.equalizer 
{
	margin: 0 25%; 
	padding: 0%; 
	display: inline;
}
}
@media only screen and (max-width: 568px){
body div#page div.home div.equalizer
{
	margin: 0 0 -16% 0;
}
}

/*----------------------------------------footer-styles---------------------------------------*/
#footer {
	 background-image: linear-gradient(to top, #2f4f4f, #445a60, #5b666d, #707277, #808080);
	margin: 0;
	min-height: 122px;
	padding: 0;
	width: 100%;
}
#footer div {
	margin: 0 auto;
	max-width: 940px;
	overflow: hidden;
	padding: 47px 10px 42px;
}
#footer div p {
	color: #FFFFFF;
	float: left;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 5px 2 0;
	text-align: left;
	text-transform: none;
	width: 400px;
}
#footer div .connect {
	display: block;
	float: right;
	height: 32px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 154px;
}
#footer div .connect a {
	background: url(../images/icons.png) no-repeat;
	display: block;
	float: left;
	height: 28px;
	margin: 0 7px;
	padding: 0;
	text-indent: -99999px;
	width: 28px;
}
#footer div .connect a.facebook {
	background-position: 0 0;
}
#footer div .connect a.googleplus {
	background-position: 0 -30px;
}
#footer div .connect a.pinterest {
	background-position: 0 -60px;
	margin: 0;
}
#footer div .connect a.twitter {
	background-position: 0 -90px;
}
#footer div .connect a.facebook:hover {
	background-position: -30px 0;
}
#footer div .connect a.googleplus:hover {
	background-position: -30px -30px;
}
#footer div .connect a.pinterest:hover {
	background-position: -30px -60px;
}
#footer div .connect a.twitter:hover {
	background-position: -30px -90px;
}
